@import "./theme.css";
@import "./typography.css";
@import "./component.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg-page);
  color: var(--text-primary);
  font-family: "Inter", system-ui, sans-serif;
}
